* {
    padding: 0;
    margin: 0;
    /* font-family: sans-serif; */
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
    color: #3c393d;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/images/home-header.jpg') center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.navbar {
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}

.navbar-brand {
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}

.navbar-nav {
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.navbar-nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.navbar-nav a:hover {
    opacity: 0.7;
}

/* blog section */
.blog-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.blog-posts .post {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.blog-posts .post h2 {
    font-size: 24px;
    color: #333;
}

.blog-posts .post p {
    font-size: 16px;
    color: #666;
}

.pagination {
    margin-top: 20px;
}

.pagination .btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.pagination .btn:hover {
    background-color: #0056b3;
}

.pagination p {
    font-size: 14px;
    color: #666;
}

/* Banner */
.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title {
    font-size: 3rem;
    line-height: 1.2;
}

.banner p { 
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
}

.banner form {
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

/* footer */
footer {
    background: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.footer span {
    margin-top: 1rem;
    display: block;
    letter-spacing: 2px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.socials a {
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.socials a:hover {
    background: #fff;
    color: #2b2b2b;
}

/* styling for the post */
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.about-container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    color: #333;
    margin-bottom: 15px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover {
    background-color: #3e8e41;
}

@media screen and (max-width: 768px) {
    .heading {
        padding: 0px 20px;
    }
    .heading h1 {
        font-size: 36px;
    }
    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .about-container {
        padding: 0px;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content {
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more {
        font-size: 16px;
    }
}

/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
}
