<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Blog Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/create-edit-post.css') }}">
    <!-- loading the ckeditor -->
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='ckeditor', height=300, width=800, toolbar='basic') }}
</head>
<body>
    
    <div class="container">
        <h2>{% if post_to_edit %} Edit Blog Post {% else %} Create New Post {% endif %}</h2>
        <form action="{{ url_for('edit_current_post', post_id=post_to_edit.id) if post_to_edit else url_for('create_new_post') }}" method="POST">
            <div class="form-group">
                <label for="title">Blog Post Title</label>
                <input type="text" id="title" name="title" value="{{ post_to_edit.title if post_to_edit else '' }}"  required>
            </div>
            <div class="form-group">
                <label for="subtitle">Subtitle</label>
                <input type="text" id="subtitle" name="subtitle" value="{{ post_to_edit.subtitle if post_to_edit else '' }}"  required>
            </div>
            <div class="form-group">
                <label for="author">Author's Name</label>
                <input type="text" id="author" name="author" value="{{ post_to_edit.author if post_to_edit else '' }}"  required>
            </div>
            <div class="form-group">
                <label for="img_url">Image URL</label>
                <input type="url" id="img_url" name="img_url" value="{{ post_to_edit.img_url if post_to_edit else '' }}"  required>
            </div>
            <div class="form-group">
                <label for="body">Body (Main Content)</label>
                {{ ckeditor.create('body', post_to_edit.body if post_to_edit else '') }}
            </div>
            <div class="form-group">
                <button type="submit">{% if post_to_edit %}Update Post{% else %}Create Post{% endif %}</button>
            </div>
        </form>
        <a href="{{ url_for('view_dashboard') }}" class="btn-back">Go Back</a>
    </div>

</body>
</html>
