
<!-- header.html -->
    <div class="header">
        <div class="logo">
            <a href="/">Blog</a>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href = "{{ url_for('blogs') }}">HOME</a></li>
                {% if not current_user.is_authenticated %}
                    <li><a href = "{{ url_for('login') }}">LOGIN</a></li>
                    <li><a href = "{{ url_for('signup') }}">SIGN UP</a></li>
                {% endif %}
                <li><a href = "{{ url_for('about') }}">ABOUT</a></li>
                <li><a href = "{{ url_for('contact') }}">CONTACT</a></li>
                {% if current_user.id == 1 %}
                    <li><a href = "{{ url_for('view_dashboard') }}">DASHBOARD</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li><a href = "{{ url_for('logout') }}">LOG OUT</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="menu-icon" id="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>