<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Maroa's Blog</h1>
        <span>A collection of amusing things</span>
    </header>
    <div>
        <a href="url for post">
            <img src="./static/images/post.jpg" alt="">
            <h2>post title 1</h2>
            <h3>post subtitle 1</h3>
        </a>
        <p>posted on july 7 2024</p>
        <hr>
    </div>
    <div>
        <a href="url for post">
            <img src="./static/images/post.jpg" alt="">
            <h2>post title 2</h2>
            <h3>post subtitle 2</h3>
        </a>
        <p>posted on july 7 2024</p>
        <hr>
    </div>
    <div>
        <a href="url for post">
            <img src="./static/images/post.jpg" alt="">
            <h2>post title 3</h2>
            <h3>post subtitle 3</h3>
        </a>
        <p>posted on july 7 2024</p>
        <hr>
    </div>
    <div>
        <a href="url for post">
            <img src="./static/images/post.jpg" alt="">
            <h2>post title 4</h2>
            <h3>post subtitle 4</h3>
        </a>
        <p>posted on july 7 2024</p>
        <hr>
    </div>
</body>
</html>