{% include "header.html" %}
     <header>
        <div class = "banner">
          <div class = "container">
            <h1 class = "banner-title">
               Personal Blog
            </h1>
            <p>everything that you want to know about art & design</p>
          </div>
        </div>
      </header>

      <!-- Blog Section -->
      <section class="blog">

        <div class="blog-heading">
            <span>Recent Posts</span>
        </div>

        <div class="blog-container">
            {% for post in posts %}
            <div class="blog-box">

                <div class="blog-img">
                    <img src="{{ post.img_url }}" alt="Blog-img">
                </div>

                <div class="blog-text">
                    <span>{{ post.author }}</span>
                    <a href="" class="blog-title">{{ post.title }}</a>
                    <p>{{ post.subtitle }}</p>
                    <a href="" class="read-more">Read More</a>
                </div>

            </div>
            {% endfor %}

        </div>

    </section>

{% include "footer.html" %}