{% include "header.html" %}
    
    <div class="heading">
        <h1>{{ post.title }}</h1>
    </div>

    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="{{ post.img_url }}" alt="About-image">
            </div>

            <div class="about-content">
                <h2>{{ post.subtitle }}</h2>
                <p>
                    {{ post.body }}
                </p>
            </div>
        </section>
    </div>

    {% include "footer.html" %}